@using Microsoft.AspNetCore.Identity;
@model LearnFurther.ViewModels.RegisterViewModel
    @*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="d-flex justify-content-around row">
        <label class="form-label align-items-center mt-1 col-sm-2 ml-0 pl-sm-0" asp-for="Email"></label><br />
        <input class="form-control ml-2 mb-2 col-sm-9" asp-for="Email">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="d-flex justify-content-around row">
        <label class="form-label align-items-center mt-1 col-sm-2 pl-sm-0" asp-for="FirstName"></label><br />
        <input class="form-control ml-2 mb-2 col-sm-9" asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="d-flex justify-content-around row">
        <label class="form-label align-items-center mt-1 col-sm-2 pl-sm-0" asp-for="LastName"></label><br />
        <input class="form-control ml-2 mb-2 col-sm-9" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="d-flex justify-content-around row">
        <label class="form-label align-items-center mt-1 col-sm-2 pl-sm-0" asp-for="Password"></label><br />
        <input class="form-control ml-2 mb-2 col-sm-9" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="d-sm-flex justify-content-around row">
        <label class="form-label align-items-center mt-1 pr-sm-4" asp-for="PasswordConfirm"></label><br />
        <input class="form-control ml-3 mb-2 col-sm-9" asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <select class="custom-select" name="UserRole">
        @foreach (IdentityRole role in Model.Roles)
        {
            if (role.Name != "Admin")
            {
                <option value="@role.Name">@role.Name</option>
            }
        }
    </select>
    <p>@Model.Roles.Count</p>
    <div class="d-flex justify-content-center">
        @*<input type="submit" value="Регистрация" />*@
        <button type="submit" class="btn btn-outline-dark mb-2 mr-auto col-2 ml-auto p-1">Регистрация</button>
    </div>
</form>
@{
}