@using LearnFurther.ViewModels
@model AddTaskViewModel

<div>
<form method="post" asp-controller="Task" asp-action="AddTask">
    <div id="content" style="max-height:500px">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Title"></label><br />
            <input class="form-control" asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="Description"></label><br />
            <textarea class="form-control" asp-for="Description" rows="3" style="resize:none"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group row col-md-4 ml-md-auto mr-md-auto mb-0">
            <label asp-for="Types" class="ml-auto mr-auto">Выберите тип задания</label>
            <select asp-for="Types" class="ml-auto mr-auto" id="type" asp-items="Html.GetEnumSelectList<LearnFurther.ViewModels.TaskTypes>()" onchange="Change(this)"></select>
            <br />
        </div>
        <div id="butt" class="row">
            <button class="btn btn-outline-dark mt-3 mb-3 offset-md-3" onclick="addInput()" type="button">Добавить вопрос</button>
            <button class="btn btn-outline-dark mt-3 mb-3 offset-md-1" type="submit">Добавить задание</button>
        </div>
    </div>
</form>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                При смене типа задания на задание с полным ответом, варианты ответов будут удалены.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DelAnswers()">Сменить тип задания</button>
                <button type="button" class="btn btn-primary" onclick="NotChange()">Не менять</button>
            </div>
        </div>
    </div>
</div>
</div>

@section scripts{

<script>

    function NotChange() {
        var s = document.getElementById("type");
        s.value = 0;
        $('#modDialog').modal('hide');
    }

    function Change(val) {
        if ((val.options[val.selectedIndex].text == "Задание с полным ответом") && (arr.size != 0)) {
            $('#modDialog').modal('show');
        };
        if (val.options[val.selectedIndex].text != "Задание с полным ответом") {
            for (var j = 0; j < i; j++) {
                var l = document.getElementById(j);
                if (document.getElementById('button' + j + '') == null) {
                    var str = '<button class="btn btn-outline-dark col-4 align-content-center" id="button' + j + '" onclick="addAnswer(this)" type="button">Добавить ответ</button></div >'
                    l.insertAdjacentHTML('beforeend', str);
                }
            }
        }
    };

    function DelAnswers() {
        for (var j = 0; j < i; j++) {
            var list = document.getElementById(j).id;
            if (arr.has(list)) {
                var x = arr.get(list);
                while (x >= 0) {
                    var del = document.getElementById('Questions[' + list + '].Answers[' + x + ']');
                    del.remove();
                    x--;
                    arr.set(list, x);
                };
            };
            var a = document.getElementById("button"+ j +"");
            a.remove();
        };
        $('#modDialog').modal('hide');
    };

    var i = 0;
    var arr = new Map();


    function addInput() {
        let val = document.getElementById("type");
        if (val.options[val.selectedIndex].text != "Задание с полным ответом") {
            var str = '<div class="d-flex justify-content-around row" id = ' + i + '><textarea class="form-control mt-2 mb-3 ml-3 mr-3" name = "Questions[' + i + '].Context" rows="1" style="resize:none"></textarea><button class="btn btn-outline-dark col-4 align-content-center" id="button' + i + '" onclick="addAnswer(this)" type="button">Добавить ответ</button></div>'
            butt.insertAdjacentHTML('beforebegin', str);
            i++;
        }
        else {
            var str = '<div class="d-flex justify-content-around row" id = ' + i + '><textarea class="form-control mt-2 mb-3 ml-3 mr-3" name = "Questions[' + i + '].Context" rows="1" style="resize:none"></textarea></div>'
            butt.insertAdjacentHTML('beforebegin', str);
            i++;
        };
    };

    function addAnswer(val) {
        let x;
        //alert(val.parentNode.id);
        let listId = val.parentNode.id;
        if (arr.has(listId)) {
            x = arr.get(listId);
            x += 1;
            arr.set(listId, x)
        }
        else {
            x = 0;
            arr.set(listId, x)
            /*alert(listId);*/
        }
        var str = '<div class="form-check row col-3 mr-auto mb-0 pl-1 ml-3 pr-2" id = Questions[' + listId + '].Answers[' + x + ']><input class="form-check-input ml-0" type="checkbox" id = Questions[' + listId + '].Answers[' + x + '].State name = Questions[' + listId + '].Answers[' + x + '].State value = "true"><input class="form-control mb-2 ml-4 pr-0" name = Questions[' + listId + '].Answers[' + x + '].Content></div >'
        val.insertAdjacentHTML('beforebegin', str);
    };

</script>

}