@model LearnFurther.ViewModels.CheckViewModel

@*<div class="modal fade" id="myModal">
    <div class="modal-dialog" id="dialogContent">*@
        <!--<div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Результат выполнения тестового задания</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>-->
        <!-- Modal body -->
        <!--<div class="modal-body">
            Modal body..
        </div>-->
        <!-- Modal footer -->
        <!--<div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Результат выполнения тестового задания</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                Набрано баллов @Model.RightAnswersCount из @Model.AnswersCount
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="myBtn">Сохранить результат</button>
            </div>
        </div>
    @*</div>
</div>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#myBtn").click(function () {
            alert("something");
            var save = $('#cartForm').submit(event);
            var data = $(save).serialize();
            var url = "@Url.Action("SaveExecutedTask")";
            alert(save);
            alert(data);
            alert(url);
            $.post(url, data, function (data) {
                alert("Добавление прошло успешно");
                @*window.location.href = "@Url.Action("ShowDetails")"*@
            });
        });
    });
</script>