@model IEnumerable<LearnFurther.Models.ListOfUsersRequestingAccess>
@{
    ViewBag.Title = "Список пользователей запросивших доступ к заданию";
}

<table class="table">
    <tr><th>Задание</th><th>Пользователь запросивший доступ</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Task.Title</td>
            <td>@user.User.UserName</td>
            <td>
                <form method="post">
                    <button type="submit" class="btn btn-sm btn-primary" asp-action="ShowUserWaitingList" asp-route-id="@user.Id">Разрешить доступ</button>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Отказать в доступе</a>
                </form>
            </td>
        </tr>
    }
</table>