@model IEnumerable<LearnFurther.Models.Task>

<form asp-controller="Task">
    @foreach (var task in Model)
    {
        <div class="form-group">
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@task.Id">@task.Title</a>
        </div>
    }
</form>