@model string

<div class="modal-content" id="mdContent">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
    </div>
    <div class="modal-body">
        @Model
    </div>
    <div class="modal-footer">
    </div>
</div>