@model LearnFurther.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
<form asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">First Name</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Last Name</label>
        <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить изменения" class="btn btn-outline-secondary" asp-action="Edit"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Удалить" class="btn btn-outline-secondary" asp-action="Delete"/>
    </div>
</form>